body{
    background-color: aliceblue;
}

h1{
    background-color: rgb(37, 62, 245);
    color: aliceblue;
    padding: 10px 10px 10px 15px;
    margin: 15px 10px 10px 15px;
    text-align: center;
    font-style: bold;
    box-sizing: border-box;
}

h2{
    background-color: rgb(58, 56, 232);
    color: aliceblue;
    padding: 10px 10px 10px 15px;
    margin: 15px 10px 10px 15px;
    text-align: center;
    font-style: italic;
    box-sizing: border-box;

}

div{
    display: inline-table;
    background-color: rgb(221, 236, 199);
    padding: 15px 10px 10px 15px;
    margin: 15px 10px 10px 15px;
    text-align: left;
    font-style: italic;
    box-sizing: border-box; 
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 15px 10px 10px 15px;
    margin: 15px 10px 10px 15px;
}
